In [1]:
import pandas as pd
import numpy as np

# Starting to analyze and process both sets of mortality data

## All Deaths with Covid

In [14]:
df = pd.read_pickle("Datasets/cdc_mortality_df.pkl")

In [15]:
df.head()

     State  Year  Deaths
0  Alabama  2013    8695
1  Alabama  2014    8254
2  Alabama  2015    9256
3  Alabama  2016    9020
4  Alabama  2017    9030

In [16]:
df = df.astype({"Deaths":"int64"})

In [17]:
df["Death Difference"] = df["Deaths"].diff()

In [18]:
df["Death Difference"].iloc[::7] = np.NaN

/Users/emilyhorton/opt/anaconda3/envs/backpack_banana/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
df.loc[(df["Death Difference"]>0) & (df["Year"]==2020)]

                    State  Year  Deaths  Death Difference
20                Arizona  2020   10540             347.0
27               Arkansas  2020    5680             277.0
34             California  2020   49660            2294.0
41               Colorado  2020    7353             760.0
62   District of Columbia  2020    1006             183.0
69                Florida  2020   39184            3956.0
83                 Hawaii  2020    2136             149.0
90                  Idaho  2020    2550             103.0
97               Illinois  2020   19429             733.0
111                  Iowa  2020    5357              75.0
139                 Maine  2020    2768             265.0
146              Maryland  2020    9419             751.0
153         Massachusetts  2020   10996             807.0
160              Michigan  2020   17305              55.0
167             Minnesota  2020    8054             567.0
174           Mississippi  2020    5648             258.0
188               Montana  2020    1780              98.0
202                Nevada  2020    4583             439.0
209         New Hampshire  2020    2332             167.0
216            New Jersey  2020   13537             405.0
244          North Dakota  2020    1256             182.0
286        South Carolina  2020    9467             777.0
300             Tennessee  2020   13126            1248.0
307                 Texas  2020   34588             309.0
314                  Utah  2020    3553             503.0
321               Vermont  2020    1072              43.0
328              Virginia  2020   12530             755.0
335            Washington  2020   10278             547.0
349             Wisconsin  2020    9681             508.0

In [20]:
df.loc[df["State"] == "Florida"]

      State  Year  Deaths  Death Difference
63  Florida  2013   31180               NaN
64  Florida  2014   30639            -541.0
65  Florida  2015   33031            2392.0
66  Florida  2016   34395            1364.0
67  Florida  2017   34411              16.0
68  Florida  2018   35228             817.0
69  Florida  2020   39184            3956.0

## All Deaths without Covid

In [21]:
df2 = pd.read_pickle("Datasets/cdc_mortality_no_covid_df.pkl")

In [22]:
df2["Death Difference no Covid"] = df2["Deaths"].diff()

In [23]:
df2["Death Difference no Covid"].iloc[::7] = np.NaN

/Users/emilyhorton/opt/anaconda3/envs/backpack_banana/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [24]:
df2.loc[(df2["Death Difference no Covid"]>0) & (df2["Year"]==2020)]

                    State  Year  Deaths  Death Difference no Covid
20                Arizona  2020   10540                      347.0
27               Arkansas  2020    5680                      277.0
34             California  2020   49562                     2196.0
41               Colorado  2020    7326                      733.0
62   District of Columbia  2020    1005                      182.0
69                Florida  2020   39133                     3905.0
83                 Hawaii  2020    2136                      149.0
90                  Idaho  2020    2547                      100.0
97               Illinois  2020   19365                      669.0
111                  Iowa  2020    5355                       73.0
139                 Maine  2020    2765                      262.0
146              Maryland  2020    9404                      736.0
153         Massachusetts  2020   10981                      792.0
167             Minnesota  2020    8048                      561.0
174           Mississippi  2020    5642                      252.0
188               Montana  2020    1780                       98.0
202                Nevada  2020    4577                      433.0
209         New Hampshire  2020    2329                      164.0
216            New Jersey  2020   13494                      362.0
244          North Dakota  2020    1255                      181.0
286        South Carolina  2020    9449                      759.0
300             Tennessee  2020   13123                     1245.0
307                 Texas  2020   34578                      299.0
314                  Utah  2020    3551                      501.0
321               Vermont  2020    1071                       42.0
328              Virginia  2020   12514                      739.0
335            Washington  2020   10127                      396.0
349             Wisconsin  2020    9672                      499.0

In [25]:
df.merge(df2)

       State  Year  Deaths  Death Difference  Death Difference no Covid
0    Alabama  2013    8695               NaN                        NaN
1    Alabama  2014    8254            -441.0                     -441.0
2    Alabama  2015    9256            1002.0                     1002.0
3    Alabama  2016    9020            -236.0                     -236.0
4    Alabama  2017    9030              10.0                       10.0
..       ...   ...     ...               ...                        ...
315  Wyoming  2015     825              95.0                       95.0
316  Wyoming  2016     835              10.0                       10.0
317  Wyoming  2017     825             -10.0                      -10.0
318  Wyoming  2018     874              49.0                       49.0
319  Wyoming  2020     781             -93.0                      -93.0

[320 rows x 5 columns]